/*Vooraf uitgelegde onderdelen*/
  h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      padding-left: 10px;
      color: white;
  }

  h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      padding-left: 25px;
      color: white;
  }

  h2.a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 10px;
    color: white;
}

  h2.b {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -700px;
    padding-left: 320px;
    color: white;
}

  h2.c {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -485px;
    padding-left: 755px;
    color: white;
}
    img.EMC-logo {
      position: absolute;
      bottom: 10px; /* Afstand vanaf de onderkant van het viewport */
      left: 410px; /* Afstand vanaf de rechterkant van het viewport */
      width: 200px;
  }

    img.handhelds_clarius_C3 {
      position: absolute;
      top: 115px;
      left: 45px;
      width: 200px;
    }

    .vl {
      border-left: 3px solid black;
      height: 315px;
      position: absolute;
      left: 25%;
      top: 1%;
    }

    hr.h1 {
      width: 24.5%;
      margin-left: 5px;
      height: 3px;
      border: none;
      background-color: black;
      font-weight: bold;
      margin-top: 235px;
    }

    .panel-group-1 {
      width: 33.5%;
      margin-left: 320px;
      top: 250px;

  }

    .panel-heading {
      background: #daf4fe;

  }

  div.a {
    background-color: #daf4fe;
    width: 300px;
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
  }

  .v2 {
    border-left: 3px solid black;
    height: 725px;
    position: absolute;
    left: 61%;
    top: 1%;
  }

  #rcorners {
    border-radius: 5px;
    background: #daf4fe;
    border: 2px solid white;
    padding: 5px;
    width: 300px;
    height: 30px;
    margin-left: 758px;
    top: 250px;
    color: #2aacc7;
    text-align: center; /* Centreren van de tekst */
    font-size: 12px;

}

.panel-group2-1 {
  margin-left: 835px;
  top: 250px;

}

  .panel-group2-2 {
    margin-left: 835px;
    top: 350px;

}

  .panel-group2-3 {
    margin-left: 835px;
    top: 450px;

}

  .panel-group2-4 {
    margin-left: 835px;
    top: 550px;

}

  .panel-group2-5 {
    margin-left: 835px;
    top: 650px;

}

  .panel-group2-6 {
    margin-left: 835px;
    top: 750px;

}

  .panel-group2-7 {
    margin-left: 835px;
    top: 850px;

}

  .panel-group2-8 {
    margin-left: 835px;
    top: 950px;

}

  .panel-group2-9 {
    margin-left: 835px;
    top: 1050px;

}

div.b {
  margin-left: 865px;
  margin-top: 30px;
}


