/*Vooraf uitgelegde onderdelen*/
  h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      padding-left: 10px;
      color: white;
  }

  h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      padding-left: 25px;
      color: white;
  }

  h2.a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 10px;
    color: white;
}

  h2.b {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -365px;
    padding-left: 320px;
    color: white;
}

  h2.c {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -485px;
    padding-left: 755px;
    color: white;
}
    img.EMC-logo {
      position: absolute;
      bottom: 60px; /* Afstand vanaf de onderkant van het viewport */
      left: 395px; /* Afstand vanaf de rechterkant van het viewport */
      width: 250px;
  }

    img.handheld {
      position: absolute;
      top: 105px;
      left: 45px;
      width: 175px;
    }

    .vl {
      border-left: 3px solid black;
      height: 315px;
      position: absolute;
      left: 25%;
      top: 1%;
    }

    hr.h1 {
      width: 24.5%;
      margin-left: 5px;
      height: 3px;
      border: none;
      background-color: black;
      font-weight: bold;
      margin-top: 235px;
    }

    .panel-group-1 {
      width: 37%;
      margin-left: 320px;
      top: 250px;

  }

    .panel-heading {
      background: #daf4fe;

  }

  div.a {
    background-color: #daf4fe;
    width: 300px;
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
  }

  .v2 {
    border-left: 3px solid black;
    height: 725px;
    position: absolute;
    left: 64.5%;
    top: 1%;
  }

  #rcorners {
    border-radius: 5px;
    background: #daf4fe;
    border: 2px solid white;
    padding: 5px;
    width: 300px;
    height: 30px;
    margin-left: 802px;
    top: 250px;
    color: #2aacc7;
    text-align: center; /* Centreren van de tekst */
    font-size: 12px;

}

.panel-group-1 {
  width: 33.5%;
  margin-left: 320px;
  top: 250px;

}

.panel-heading {
  background: #daf4fe;

}

div.a {
background-color: #daf4fe;
width: 300px;
border: 2px solid white;
padding: 5px;
margin: 5px;
}

.v2 {
border-left: 3px solid black;
height: 578px;
position: absolute;
left: 61%;
top: 1%;
}

#rcorners {
border-radius: 5px;
background: #daf4fe;
border: 2px solid white;
padding: 5px;
width: 300px;
height: 30px;
margin-left: 758px;
top: 250px;
color: #2aacc7;
text-align: center; /* Centreren van de tekst */
font-size: 12px;

}

.panel-group2-1 {
margin-left: 835px;
top: 250px;

}

.panel-group2-2 {
margin-left: 835px;
top: 350px;

}

.panel-group2-3 {
margin-left: 835px;
top: 450px;

}

.panel-group2-4 {
margin-left: 835px;
top: 550px;

}

div.b {
margin-left: 865px;
margin-top: 30px;
}


